header {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #DEB887;
  background-image: url("http://lorempixel.com/400/200/technics/4");
  background-size: cover;
  border-top: 5px solid #00FF00;

  display: flex;

  height: 300px;
  margin: 0;
  align-items: center;
}

.banner-content {
  color: white;
  margin-left: 100px;
  width: 400px;
}

.platforms {

  display: flex;
  justify-content: space-around;
  width: 50%;
}

.platform {
  background-color: rgba(0,0,0,.5);
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.platform:hover {
  background-color: rgba(0,255,0,.35);
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature i {
  background-color: rgba(0,0,0,.5);
  color: white;
  font
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.feature i:hover {
  background-color: rgba(0,255,0,.35);
}
